/*
IMPORTANTE: REM e EM são unidades relativas
REM é uma unidade relativa à propriedade font-size da tag <html>, portanto se a tag <html> tem 16px de font-size 1 REM é 
equivalente à 16px. EM é relativa à propriedade font-size da tag mãe, portanto se a tag mãe tiver um font-size de 16px 
1 EM é equivalente à 16px
*/

.cabecalho {
    color: var(--branco);

    width: 100%;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: .75rem;
    padding-bottom: .75rem;

    border-bottom: 1px solid var(--borda-cabecalho-mobile);

    position: absolute;
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    display: inline-block;
    font-size: 1.1rem;
    margin: 0.75rem 1rem;
}


@media screen and (min-width: 1024px) {
    
.cabecalho {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

}
